.arroz-submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .arroz-submenu-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .arroz-submenu-icon {
        transform: rotate(0);
        transition: transform 200ms ease-out;
    }
    .arroz-submenu-icon.open {
        transform: rotate(-180deg);
    }

    .arroz-submenu-panel {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-wrap: nowrap;
    
        margin-left: 2vw;
    }
}