@import 'colors';
@import 'recipe-card';

$recipe-carousel-background: radial-background($light-gray);
$button-color: $light-coral-gradient;
$font-color: $eerie-black;

.all-recipe-carousel {
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 2vw;
    background: $recipe-carousel-background;
    border-radius: 3vh 3vh 0 0;

    .all-recipe-slide {
        display: grid;
        justify-content: center;
        align-items: center;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 2vw;
        row-gap: 1vh;

        a {
            text-decoration: none;
        }
    }

    .page-button-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
            width: 2vw;
            text-decoration: none;
            display: inline-block;
            outline: none;
            border: none;
            background: none;
            border-radius: 100%;
            overflow: none;
            text-align: center;
            padding: 0;
            margin: 0 1vw;

            font-size: 3vh;
            font-family: 'Roboto Slab', serif;
        }

        button:hover {
            background: radial-background(adjust-color($light-coral, $alpha: -0.5));
            color: $font-color;
        }

        button:active {
            background: radial-background(adjust-color($light-coral, $alpha: -0.25));
            color: $font-color;
        }

        .active-page {
            background: $button-color;
            color: $font-color;
        }

        .active-page:hover {
            background: $button-color;
            color: $font-color;
        }

    }
}