@import 'colors';
@import 'recipe-card';

$button-color:
    radial-gradient(49% 81% at 45% 47%, $pale-azure 0%, #00000000 100%),
    radial-gradient(113% 91% at 17% -2%, $uranian-blue 1%, #00000000 99%),
    radial-gradient(142% 91% at 83% 7%, $pale-azure 1%, #00000000 99%),
    radial-gradient(142% 91% at -6% 74%, $uranian-blue 1%, #00000000 99%),
    radial-gradient(142% 91% at 111% 84%, $pale-azure 0%, $air-force-blue 100%)
;

.all-recipe-carousel {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 2vw;

    .all-recipe-slide {
        display: grid;
        justify-content: center;
        align-items: center;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 2vw;
        row-gap: 2vh;

        a {
            text-decoration: none;
        }
    }


    .page-button-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
            width: 2vw;
            text-decoration: none;
            display: inline-block;
            outline: none;
            border: none;
            background: none;
            border-radius: 100%;
            overflow: none;
            text-align: center;
            padding: 0;
            margin: 0 1vw;

            font-size: 3vh;
            font-family: 'Roboto Slab', serif;
        }

        button:before {
            content: '';
            display: inline-block;;
            vertical-align: middle;
        }

        button:hover {
            background: $button-color;
            background-clip: text;
            color: transparent;
            position: relative;
        }

        button:hover:before {
            content: "";
            position: absolute;
            border-radius: 100%;
            padding: 0;
            inset: 0;
            border: thin solid transparent;
            background: $button-color border-box;
            mask:
               linear-gradient(#fff 0 0) padding-box, 
               linear-gradient(#fff 0 0)
            ;
            mask-composite: exclude;
        }

        button:active {
            background: $button-color;
            color: $jet;
        }

        .active-page {
            background: $button-color;
            color: $jet;
        }

        .active-page:hover {
            background: $button-color;
            color: $jet;
        }

    }
}