@use 'sass:color';

@function radial-background($primary) {
    $light: adjust-color($primary, $hue: -24deg, $saturation: -10%, $lightness: 6%);
    $dark: adjust-color($primary, $hue: 24deg, $saturation: 10%, $lightness: -6%);

    @return
        radial-gradient(49% 81% at 45% 47%, adjust-color($light, $alpha: -0.73) 0%, #0000 100%),
        radial-gradient(113% 91% at 17% -2%, $primary 0%, #0000 100%),
        radial-gradient(142% 91% at 83% 7%, $light 0%, #0000 100%),
        radial-gradient(142% 91% at -6% 74%, adjust-color($dark, $hue: -24deg) 0%, #0000 100%),
        radial-gradient(142% 100% at 111% 84%, $dark 0%, $primary 100%)
    ;
}

$eerie-black: #252525ff;
$davys-gray: #545454ff;
$gray: #828282ff;
$light-gray: #bebebeff;
$platinum: #dfdfdfff;

// primary color
$verdigris: #61bdb1ff;
$verdigris-gradient: radial-background($verdigris);

// accent color
$light-coral: #e47979ff;
$light-coral-gradient: radial-background($light-coral);