$magnolia: #E8E2EB; // light background / light text color
$french-grey: #BEB7C0; // light background gradient

$taupe-grey: #938C95;
$dim-grey: #68616A;
$davy-grey: #534C55;
$jet: #3d363f; // dark background / dark text color

$light-red: #FF6B6B; // primary
$terracotta: #CF5E60;
$redwood: #9E5155; // primary gradient

$asparagus: #629460; // secondary
$cambridge-blue: #81A080; //secondary gradient light
$feldgrau: #506550; // secondary gradient dark

$uranian-blue: #A6DAF5;
$pale-azure: #63D2FF;
$air-force-blue: #50849F;