@import 'colors';
@import 'fonts';

$accordion-color: none;
$panel-color: none;
$button-color: radial-background($eerie-black);

$font-color: $eerie-black;

.filter-accordion {
    display: flex;
    align-items: center;
    margin-right: -1.5vw;

    .accordian-menu {
        width: 20vw;
        height: 94vh;
        align-self: flex-start;
        // display: flex;
        // flex-direction: column;
        font-family: $primary-font;
        margin: 0;
        background: $accordion-color;

        overflow-x: hidden;
        overflow-y: auto;

        transition: width 0.2s ease-out;

        .filter-tab {
            .accordion-button {
                width: 100%;
                border-radius: 15vw/25vh;
                border: none;
                outline: none;
                font-size: 2vh;
                background: none;
                color: $font-color;
                font-family: 'Roboto Slab', serif;
                text-align: left;
                padding: 1vh 1vw;
                margin: 0;
            }
    
            .accordion-button:hover {
                background-color: adjust-color($platinum, $alpha: -0.75);
            }

            .accordion-button:active {
                background-color: adjust-color($platinum, $alpha: -0.5);
            }
    
            .accordion-button:after {
                content: '▾';
                float: right;
            }
    
            .active:after {
                content: '▴';
            }
    
            .accordion-panel {
                width: 100%;
                background: $panel-color;
    
                .filter-label {
                    font-size: 2vh;
                    vertical-align: middle;
                    color: $font-color;
    
                    input {
                        margin: 1vh 1vw;
                        height: 2vh;
                        width: 2vh;
                        background: $light-gray;
                        appearance: none;
                        vertical-align: middle;
                        border: .1vh solid $font-color;
                    }
    
                    input:hover {
                        background: $platinum;                    
                    }
    
                    input:checked {
                        background: $font-color;
                    }
                }
            }
        }
    
        .filter-button-container {
            padding-top: 2vh;
            display: flex;
            align-items: center;
            justify-content: space-around;

            button {
                padding: 1vh 1vw;
                font-size: 1.5vh;
                font-family: 'Roboto Slab', serif;
                font-weight: 600;
                border-radius: 3vh;
                outline: none;
                border: none;
            }
    
            .filter-button {
                background: $button-color;
                color: $verdigris;
                position: relative;
            }
    
            .filter-button:hover {
                background: adjust-color($eerie-black, $lightness: 10%);
            }
    
            .filter-button:active {
                background: adjust-color($eerie-black, $lightness: 20%);
            }

            .reset-button {
                position: relative;
                background: $button-color;
                background-clip: text;
                color: transparent;
            }

            .reset-button:hover {
                background: $button-color;
                color: $verdigris;
            }

            .reset-button:active {
                background: adjust-color($eerie-black, $lightness: 10%);
            }

            .reset-button:before {
                content: "";
                position: absolute;
                border-radius: 10vh;
                padding: 0;
                inset: 0;
                border: .1vh solid transparent;
                background: $button-color border-box;
                mask:
                   linear-gradient(#fff 0 0) padding-box, 
                   linear-gradient(#fff 0 0)
                ;
                mask-composite: exclude;
            }
        }
    }

    .collapse-button {
        width: 1.5vw;
        height: 6vh;
        outline: none;
        border: none;
        border-radius: 0 20vh 20vh 0;
        background: $verdigris-gradient;
        // border-left: .1vh solid $davys-gray;
        z-index: 100;
        font-size: 1.5vh;
        text-align: left;
    }

    .collapse-button:hover {
        background: radial-background(adjust-color($verdigris, $lightness: 10%));
    }

    .collapse-button:active {
        background: radial-background(adjust-color($verdigris, $lightness: 15%));
    }
}