@import 'utils/colors';
@import 'fonts';

@import 'navigation/header';
@import 'recipe-card';
@import 'recipe-library/recipe-library';
@import 'recipe-page';
@import 'home/home-page';
@import 'about-page';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
}