@import 'utils/colors';
@import 'utils/fonts';
@import 'navigation/header';
@import 'recipe-card';
@import 'recipe-library/recipe-library';

$background-color: $verdigris-gradient; //radial-background($gray);

html, body {
    font-family: $primary-font;
    background: $background-color;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;

    ::-webkit-scrollbar {
        width: 0.5vw;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background: $davys-gray;
        border-radius: 10vw;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $gray;
    }
}

.fade-enter {
    opacity: 0;
    transform: translateY(100%);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0%);
}
.fade-exit{
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}