@import 'colors';
@import 'fonts';

$header-color: none;

.header {
    display: flex;
    justify-content: space-between;
    background: $header-color;
    height: 6vh;

    .header-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 1vw;

        img {
            height: 60%;
            padding: 1vh 1vw;
            opacity: 50%;
        }

        h1 {
            font-size: 3vh;
            color: $eerie-black;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0 2vw 0 0;

        li {
            margin: 0 1vw;
            font-size: 2vh;

            a {
                padding: 1vh 1vw;
                text-decoration: none;
                color: $eerie-black;
                border-radius: 10vh;
            }

            a:hover {
                background-color: adjust-color($platinum, $alpha: -0.75);
            }
    
            a:active {
                background-color: adjust-color($platinum, $alpha: -0.5);
            }
        }
    }
}