.recipe-card {
    padding: 0;
    overflow: hidden;

    .recipe-image {
        width: 100%;
        margin: 0;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .recipe-meta {
        margin-top: 1vh;
        margin-left: 2vh;
        margin-right: 2vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .recipe-culture {
            font-weight: 600;
        }

        .recipe-name {
            font-weight: 900;
        }
    }            
}