.recipe-library {
    height: 100vh;
    display: flex;
    // margin: 0 10% 0 10%;
    margin: 0;
    background: linear-gradient(rgba(238,213,213,1) 0%, rgba(238,213,213,1) 50%, rgba(238,213,213,0) 100%);
}