$recipe-card-color: radial-background($platinum);
$recipe-name-color: $eerie-black;
$recipe-culture-color: $light-coral-gradient;
$recipe-card-width: 20vw;
$recipe-card-radius: 2vh;

.recipe-card {
    background: $recipe-card-color;
    color: $recipe-name-color;
    border-radius: $recipe-card-radius;
    width: $recipe-card-width;
    padding: 0;
    overflow: hidden;

    .recipe-image {
        width: 100%;
        margin: 0;
        overflow: hidden;
        // border-radius: $recipe-card-radius $recipe-card-radius 0 0;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .recipe-meta {
        margin: 2vh 1vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .recipe-culture {
            font-size: 2vh;
            margin: 0;
            padding: 1vh 1vw;
            border-radius: 10vh;
            font-weight: 600;
            color: white;
            background: $recipe-culture-color;
        }

        .recipe-name {
            font-size: 3vh;
            line-height: 4vh;
            font-weight: 900;
        }
    }            
}

.recipe-card:hover {
    background: radial-background(adjust-color($platinum, $lightness: 5%));
}

.recipe-card:active {
    background: radial-background(adjust-color($platinum, $lightness: 10%));
}