@import 'accordion-button';
@import 'accordion-panel';

.accordian-menu {
    width: 20vw;
    height: 94vh;
    align-self: flex-start;
    display: block;
    // flex-direction: column;
    margin: 0;

    overflow-x: hidden;
    overflow-y: auto;
    transition: width 500ms;
}