// Font weights which are standarized
$arroz-light: 300;
$arroz-normal: 400;
$arroz-medium: 500;
$arroz-semibold: 600;
$arroz-bold: 700;

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap'); // Belanosima by Santiago Orozco
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); // Josefin Sans by Santiago Orozco
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); // Lato by Łukasz Dziedzic
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap'); // Inconsolata by Raph Levien
// The default font values for Arroz con Webo
$arroz-display-font: 'Belanosima', sans-serif !default;
$arroz-headline-font: 'Belanosima', sans-serif !default;
$arroz-title-font: 'Josefin Sans', sans-serif !default;
$arroz-heading-font: 'Josefin Sans', sans-serif !default;
$arroz-body-font: 'Lato', sans-serif !default;
$arroz-label-font: 'Lato', sans-serif !default;
$arroz-code-font: 'Inconsolata', monospace !default;

// user font size
$arroz-font-size: 1rem !default;
// computed font sizes
$arroz-display-size: calc(6 * $arroz-font-size);
$arroz-headline-size: calc(4 * $arroz-font-size);
$arroz-title-size: calc(3 * $arroz-font-size);
$arroz-heading-size: calc(2 * $arroz-font-size);
$arroz-body-size: $arroz-font-size;
$arroz-label-size: $arroz-font-size;
$arroz-code-size: $arroz-font-size;

// $arroz-line-height: 1.5rem !default;
