// primary filled button style
.arroz-primary-filled-button {
    background-color: $primary;
    color: $on-primary;

    border: none;
}

.arroz-primary-filled-button:before {
    content: "";
    background-color: $on-primary;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-primary-filled-button:hover:before {
    opacity: 20%;
}

span.arroz-primary-filled-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $on-primary;
    opacity: 40%;
}

// secondary filled button style
.arroz-secondary-filled-button {
    background-color: $secondary;
    color: $on-secondary;

    border: none;
}

.arroz-secondary-filled-button:before {
    content: "";
    background-color: $on-secondary;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-secondary-filled-button:hover:before {
    opacity: 20%;
}

span.arroz-secondary-filled-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $on-secondary;
    opacity: 40%;
}

// tertiary filled button style
.arroz-tertiary-filled-button {
    background-color: $tertiary;
    color: $on-tertiary;

    border: none;
}

.arroz-tertiary-filled-button:before {
    content: "";
    background-color: $on-tertiary;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-tertiary-filled-button:hover:before {
    opacity: 20%;
}

span.arroz-tertiary-filled-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $on-tertiary;
    opacity: 40%;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}