$button-hover-color: adjust-color($platinum, $alpha: -0.75);
$button-active-color: adjust-color($platinum, $alpha: -0.5);

$header-height: 6vh;

.header {
    // physical
    height: $header-height;

    // organization
    display: flex;
    justify-content: space-between;

    .header-logo {
        // physical
        margin: 0 1vw;

        //organization
        display: flex;
        align-items: center;
        justify-content: flex-start;
        

        img {
            // physical
            height: 60%;
            padding: 1vh 1vw;
            opacity: 50%;
        }

        h1 {
            // text
            font-size: calc($header-height / 2);
            color: $font-color-dark;
        }
    }

    .nav-links {
        // physical
        margin: 0 1vw 0 0;
        padding: 0;

        // organization
        display: flex;
        align-items: center;
        justify-content: space-around;

        // text
        list-style-type: none;
        

        li {
            // physical
            margin: 0 1vw;

            // text
            font-size: calc($header-height / 3);

            a {
                // physical
                padding: 1vh 1vw;
                border-radius: 10vh;

                // text
                color: $font-color-dark;
                text-decoration: none;
            }

            a:hover {
                // background
                background-color: $button-hover-color;
            }
    
            a:active {
                // background
                background-color: $button-active-color;
            }
        }
    }
}