$header-height: 6vh;

.header {
    // physical
    height: $header-height;

    // organization
    display: flex;
    justify-content: space-between;

    .header-logo {
        // physical
        margin: 0 1vw;

        //organization
        display: flex;
        align-items: center;
        justify-content: flex-start;
        

        img {
            // physical
            height: 60%;
            padding: 1vh 1vw;
            opacity: 50%;
        }
    }

    .nav-links {
        // physical
        margin: 0 1vw 0 0;
        padding: 0;

        // organization
        display: flex;
        align-items: center;
        justify-content: space-around;

        // text
        list-style-type: none;
    }
}