@import '../../../styles/color/palette.scss';
@import '../../../styles/typography/font.scss';

@import 'filled-button.scss';
@import 'tonal-button.scss';
@import 'elevated-button.scss';
@import 'outlined-button.scss';
@import 'text-button.scss';

@import 'on-surface-button.scss';
@import 'button-ripple.scss';

$arroz-button-padding: calc($arroz-label-size / 2);
$arroz-border-default-radius: calc($arroz-label-size * 0.2);
$arroz-border-rounded-radius: $arroz-label-size;

.arroz-button {
    // unstyle the button
    outline: none;

    // position
    position: relative;

    // text
    font-family: $arroz-label-font;
    font-size: $arroz-label-size;
    text-wrap: nowrap;
    text-align: center;

    // structure
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: $arroz-button-padding calc($arroz-button-padding * 2);
    overflow: hidden;
    cursor: pointer;
}

.arroz-square-button {
    // shape
    border-radius: $arroz-border-default-radius;
}

.arroz-pill-button {
    // shape
    border-radius: $arroz-border-rounded-radius;
}