span.arroz-primary-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button-ripple 600ms linear;
    background-color: $on-tertiary;
    opacity: 40%;
}

span.arroz-primary-container-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button-ripple 600ms linear;
    background-color: $on-tertiary-container;
    opacity: 40%;
}

span.arroz-secondary-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button-ripple 600ms linear;
    background-color: $on-tertiary;
    opacity: 40%;
}

span.arroz-secondary-container-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button-ripple 600ms linear;
    background-color: $on-tertiary-container;
    opacity: 40%;
}

span.arroz-tertiary-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button-ripple 600ms linear;
    background-color: $on-tertiary;
    opacity: 40%;
}

span.arroz-tertiary-container-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button-ripple 600ms linear;
    background-color: $on-tertiary-container;
    opacity: 40%;
}

span.arroz-surface-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button-ripple 600ms linear;
    background-color: $on-surface;
    opacity: 40%;
}

@keyframes button-ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}