$button-shadow-size: calc(0.2 * $arroz-font-size);

// primary elevated  button style
.arroz-primary-elevated-button {
    background-color: transparent;
    color: $primary;
    box-shadow: 0 $button-shadow-size $button-shadow-size 0 $shadow;
}

// secondary elevated button style
.arroz-secondary-elevated-button {
    background-color: transparent;
    color: $secondary;
    box-shadow: 0 $button-shadow-size $button-shadow-size 0 $shadow;
}

// tertiary elevated button style
.arroz-tertiary-elevated-button {
    background-color: transparent;
    color: $tertiary;
    box-shadow: 0 $button-shadow-size $button-shadow-size 0 $shadow;
}

// surface elevated button style
.arroz-surface-elevated-button {
    background-color: transparent;
    color: $on-surface;
    box-shadow: 0 $button-shadow-size $button-shadow-size 0 $shadow;
}