// primary filled button style
.arroz-primary-filled-button {
    background-color: $primary;
    color: $on-primary;
}

span.arroz-primary-filled-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $on-primary;
    opacity: 40%;
}

// secondary filled button style
.arroz-secondary-filled-button {
    background-color: $secondary;
    color: $on-secondary;
}


span.arroz-secondary-filled-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $on-secondary;
    opacity: 40%;
}

// tertiary filled button style
.arroz-tertiary-filled-button {
    background-color: $tertiary;
    color: $on-tertiary;
}

span.arroz-tertiary-filled-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $on-tertiary;
    opacity: 40%;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}