// primary text button style
.arroz-primary-text-button {
    background-color: transparent;
    color: $primary;

    border: none;
}

// secondary text button style
.arroz-secondary-text-button {
    background-color: transparent;
    color: $secondary;

    border: none;
}

// tertiary text button style
.arroz-tertiary-text-button {
    background-color: transparent;
    color: $tertiary;

    border: none;
}

// surface text button style
.arroz-surface-text-button {
    background-color: transparent;
    color: $on-surface;

    border: none;
}