@import '../color/palette.scss';

$arroz-font-size: 2vh;
$arroz-button-padding: calc($arroz-font-size / 2) !default;
$arroz-border-default-radius: calc($arroz-font-size * 0.2);
$arroz-border-rounded-radius: $arroz-font-size;

#arroz-button {
    // unstyle the button
    outline: none;
    border: none;

    // structure
    padding: $arroz-button-padding calc($arroz-button-padding * 2);
    border-radius: $arroz-border-default-radius;

    // text
    font-size: $arroz-font-size;
}

// filled button style
.arroz-filled {
    background-color: $primary;
    color: $on-primary;
}

.arroz-filled:hover {
    background-color: tonal($primary, check-mode(45%));
}

.arroz-filled:active {
    background-color: tonal($primary, check-mode(50%));
}

// tonal button style
.arroz-tonal {
    background-color: $primary-container;
    color: $on-primary-container;
}

.arroz-tonal:hover {
    background-color: tonal($primary-container, check-mode(75%));
}

.arroz-tonal:active {
    background-color: tonal($primary-container, check-mode(70%));
}

// outlined button style
.arroz-outlined {
    background-color: transparent;
    color: $on-primary;
}

.arroz-outlined:hover {
    background-color: tonal($primary, check-mode(45%));
}

.arroz-outlined:active {
    background-color: tonal($primary, check-mode(50%));
}