@import 'filled-button.scss';
@import 'tonal-button.scss';
@import 'elevated-button.scss';
@import 'outlined-button.scss';
@import 'text-button.scss';

$arroz-font-size: 2vh;
$arroz-button-padding: calc($arroz-font-size / 2) !default;
$arroz-border-default-radius: calc($arroz-font-size * 0.2);
$arroz-border-rounded-radius: $arroz-font-size;

.arroz-common-button {
    // unstyle the button
    outline: none;
    // border: none;

    position: relative;

    // text
    font-size: $arroz-font-size;
    text-wrap: nowrap;

    // structure
    padding: $arroz-button-padding calc($arroz-button-padding * 2);
    overflow: hidden;
    cursor: pointer;
}

.arroz-square-button {
    // shape
    border-radius: $arroz-border-default-radius;
}

.arroz-pill-button {
    // shape
    border-radius: $arroz-border-rounded-radius;
}