@import '../typography/font.scss';

@import 'types/filled-button.scss';
@import 'types/tonal-button.scss';
@import 'types/elevated-button.scss';
@import 'types/outlined-button.scss';
@import 'types/text-button.scss';

$arroz-button-padding: calc($arroz-label-size / 2);
$arroz-border-default-radius: calc($arroz-label-size * 0.2);
$arroz-border-rounded-radius: $arroz-label-size;

.arroz-common-button {
    // unstyle the button
    outline: none;
    // border: none;

    position: relative;

    // text
    font-size: $arroz-label-size;
    text-wrap: nowrap;
    text-align: center;

    // structure
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: $arroz-button-padding calc($arroz-button-padding * 2);
    overflow: hidden;
    cursor: pointer;
}

.arroz-square-button {
    // shape
    border-radius: $arroz-border-default-radius;
}

.arroz-pill-button {
    // shape
    border-radius: $arroz-border-rounded-radius;
}