$card-border-width: calc(0.1 * $arroz-font-size);

// primary outlined card
.arroz-primary-outlined-card {
    // color
    background-color: $primary-container;
    color: $on-primary-container;
    box-shadow: inset 0 0 0 $card-border-width $primary;
}

// secondary outlined card
.arroz-secondary-outlined-card {
    // color
    background-color: $secondary-container;
    color: $on-secondary-container;
    box-shadow: inset 0 0 0 $card-border-width $secondary;
}

// tertiary outlined card
.arroz-tertiary-outlined-card {
    // color
    background-color: $tertiary-container;
    color: $on-tertiary-container;
    box-shadow: inset 0 0 0 $card-border-width $tertiary;
}

// surface outlined card
.arroz-surface-outlined-card {
    // color
    background-color: $surface;
    color: $on-surface;
    box-shadow: inset 0 0 0 $card-border-width $outline;
}

.arroz-surface-higher-outlined-card {
    // color
    background-color: $surface-higher;
    color: $on-surface;
    box-shadow: inset 0 0 0 $card-border-width $outline;
}

.arroz-surface-highest-outlined-card {
    // color
    background-color: $surface-highest;
    color: $on-surface;
    box-shadow: inset 0 0 0 $card-border-width $outline;
}

.arroz-surface-lower-outlined-card {
    // color
    background-color: $surface-lower;
    color: $on-surface;
    box-shadow: inset 0 0 0 $card-border-width $outline;
}

.arroz-surface-lowest-outlined-card {
    // color
    background-color: $surface-lowest;
    color: $on-surface;
    box-shadow: inset 0 0 0 $card-border-width $outline;
}