@import '../../../styles/color/palette.scss';
@import '../../../styles/typography/font.scss';

$arroz-border-rounded-radius: $arroz-label-size;

.arroz-side-sheet {
    align-self: flex-start;
    overflow-x: hidden;
    height: 100%;
}

.arroz-side-sheet.modal {
    position: absolute;
    border-radius: 0 $arroz-border-rounded-radius $arroz-border-rounded-radius 0;
    z-index: 100;
}

.arroz-modal-shim {
    background-color: $on-surface;
    opacity: 50%;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 99;
}

.arroz-primary-side-sheet {
    background-color: $primary-container;
    color: $on-primary-container;
}

.arroz-secondary-side-sheet {
    background-color: $secondary-container;
    color: $on-secondary-container;
}

.arroz-tertiary-side-sheet {
    background-color: $tertiary-container;
    color: $on-tertiary-container;
}

.arroz-surface-side-sheet {
    background-color: $surface;
    color: $on-surface;
}
.arroz-surface-lower-side-sheet {
    background-color: $surface-lower;
    color: $on-surface;
}
.arroz-surface-lowest-side-sheet {
    background-color: $surface-lowest;
    color: $on-surface;
}
.arroz-surface-higher-side-sheet {
    background-color: $surface-higher;
    color: $on-surface;
}
.arroz-surface-highest-side-sheet {
    background-color: $surface-highest;
    color: $on-surface;
}