.collapse-button {
    position: absolute !important;
    z-index: 1001 !important;
    top: 7%;
    left: 1%;
}

.filter-accordion {
    flex: 0 0 auto;
    padding-top: 50px;
}

.filter-button-container {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}