.collapse-button {
    position: absolute;
    z-index: 1001;
}

.filter-accordion {
    padding-top: 50px;
}

.filter-button-container {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}