.recipe-carousel {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 2vw;
    border-radius: 3vh 3vh 0 0;

    .recipe-slide {
        display: grid;
        justify-content: center;
        align-items: center;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 2vw;
        row-gap: 1vh;
    
        a {
            text-decoration: none;
        }
    }
}