.recipe-carousel {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;

    .recipe-slide {
        margin: auto;
        width: 1000px;
        display: grid;
        justify-content: center;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
        row-gap: 5px;
    
        a {
            text-decoration: none;
        }
    }
}