@import '../../../styles/color/palette.scss';
@import '../../../styles/typography/font.scss';

@import './filled-card.scss';
@import './elevated-card.scss';
@import './outlined-card.scss';

$arroz-border-default-radius: calc($arroz-label-size * 0.2);
$arroz-border-rounded-radius: $arroz-label-size;

.arroz-card {
    // position
    position: relative;

    // structure
    display: inline-block;
    padding: 0;
    overflow: hidden;

    text-wrap: nowrap;
}

.arroz-square-card {
    border-radius: $arroz-border-default-radius;
}

.arroz-rounded-card {
    border-radius: $arroz-border-rounded-radius;
}