.news-letter-subscribe {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .subscribe-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 70%;
        padding-left: 50px;
        padding-right: 50px;

        .subscribe-textbox {
            flex: 1 0 auto;
        }
    }
}