// fade in
.fade-in {
    opacity: 0;
}
.fade-in-active {
    opacity: 1;
    transition: opacity 500ms;
}

// fade in upward
.fade-in-up {
    opacity: 0;
    transform: translateY(100%);
}
.fade-in-up-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms ease-in, transform 500ms;
}

// fade in downward
.fade-in-down {
    opacity: 1;
    transform: translateY(-100%);
}
.fade-in-down-active {
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 500ms ease-out, transform 500ms;
}

// fade in leftward
.fade-in-left {
    opacity: 1;
    transform: translateX(-100%);
}
.fade-in-left-active {
    opacity: 0;
    transform: translateX(0%);
    transition: opacity 500ms ease-out, transform 500ms;
}

// fade in rightward
.fade-in-right {
    opacity: 1;
    transform: translateX(100%);
}
.fade-in-right-active {
    opacity: 0;
    transform: translateX(0%);
    transition: opacity 500ms ease-out, transform 500ms;
}