// primary
.arroz-on-primary-button:before {
    content: "";
    background-color: $on-primary;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-on-primary-button:hover:before {
    opacity: 10%;
}

.arroz-on-primary-button:active:before {
    opacity: 20%;
}

.arroz-on-primary-container-button:before {
    content: "";
    background-color: $on-primary-container;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-on-primary-container-button:hover:before {
    opacity: 10%;
}

.arroz-on-primary-container-button:active:before {
    opacity: 20%;
}

// secondary
.arroz-on-secondary-button:before {
    content: "";
    background-color: $on-secondary;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-on-secondary-button:hover:before {
    opacity: 10%;
}

.arroz-on-secondary-button:active:before {
    opacity: 20%;
}

.arroz-on-secondary-container-button:before {
    content: "";
    background-color: $on-secondary-container;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-on-secondary-container-button:hover:before {
    opacity: 10%;
}

.arroz-on-secondary-container-button:active:before {
    opacity: 20%;
}

// tertiary
.arroz-on-tertiary-button:before {
    content: "";
    background-color: $on-tertiary;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-on-tertiary-button:hover:before {
    opacity: 10%;
}

.arroz-on-tertiary-button:active:before {
    opacity: 20%;
}

.arroz-on-tertiary-container-button:before {
    content: "";
    background-color: $on-tertiary-container;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-on-tertiary-container-button:hover:before {
    opacity: 10%;
}

.arroz-on-tertiary-container-button:active:before {
    opacity: 20%;
}

// surface
.arroz-on-surface-button:before {
    content: "";
    background-color: $on-surface;
    position: absolute;
    inset: 0;
    opacity: 0%;
    transition: opacity 200ms;
}

.arroz-on-surface-button:hover:before {
    opacity: 10%;
}

.arroz-on-surface-button:active:before {
    opacity: 20%;
}